.niceParagraph {
	font-family: "Baskerville";
}

.mainText {
	color: red !important;
}

.mainText {
	width: 375px;
}

.mainText {
	font-family: "baskerville";
}

.articleContainer {
	background-color: #FFFFFF;
}

h1 {
	font-size: 40px;
}

.postAuthor {
	font-size: 15px; 
}
footer {
	background-color: #444444;
	padding: 10px 10px;
	border-top: 20px solid white;
	color: white;
	font-size: 12px;
	font-style: italic;
	width: 35%;
}

header {
	font-family: Cambria, Georgia, serif;
	font-size: 25px;
	text-align: center;
}
a:link {
  color: #FFFFFF;
}

a:visited {
` color: #CCCCCC;
}

a:hover {
  color: #999999;
}

footer a:link {
  color: #FFFFFF;
}

footer a:visited {
` color: #CCCCCC;
}

footer a:hover {
  color: #999999;
}

header:hover {
    background-color: white;
}

html {
	text-align: center;
}

.floatedBox {
	float: left;
}